/*!
 * Styles for the Sky admin theme.
 * Primary colors are blue, white and gold.
 * @since 1.0
 * @version 1.3
 *
 * @package ReallySimpleCMS
 * @subpackage Sky
 */

:root {
	
	/* Background colors */
	
	--rscms__bg-color: #91d5f7;
	--rscms__header-notice-bg-color: #fff;
	--rscms__menu-bg-color: #fbbf08;
	--rscms__menu-hover-bg-color: #e8f5f7;
	--rscms__submenu-bg-color: #ffd861;
	--rscms__submenu-hover-bg-color: #fff;
	--rscms__graph-overlay-bg-color: #fff;
	--rscms__table-bg-color: var(--rscms__submenu-bg-color);
	--rscms__table-odd-bg-color: #efc851;
	--rscms__form-bg-color: #c8e9f9;
	--rscms__input-bg-color: #ffe871;
	--rscms__modal-bg-color: #db9f00;
	/* --rscms__modal-details-bg-color: var(--rscms__submenu-bg-color); */
	/* --rscms__active-tab-bg-color: var(--rscms__bg-color); */
	
	/* Border colors */
	
	/* --rscms__graph-border-color: #cdcdcd; */
	/* --rscms__table-border-color: var(--rscms__graph-border-color); */
	--rscms__table-separator-color: var(--rscms__menu-bg-color);
	/* --rscms__form-border-color: #7d7d7d; */
	/* --rscms__input-border-color: #adadad; */
	/* --rscms__modal-border-color: var(--rscms__input-border-color); */
	
	/* Text/link colors */
	
	--rscms__text-color: #000;
	--rscms__link-color: #0b0b9f;
	--rscms__secondary-link-color: #796118;
	--rscms__menu-link-color: #000;
	--rscms__active-menu-link-color: var(--rscms__link-color);
	--rscms__submenu-hover-link-color: var(--rscms__menu-link-color);
	/* --rscms__table-color: #101010; */
}