/*!
 * Styles for the Ocean admin theme.
 * Primary colors are blue, aqua, and pink.
 * @since 1.0
 * @version 1.10
 *
 * @package ReallySimpleCMS
 * @subpackage Ocean
 */

:root {
	
	/* Background colors */
	
	--rscms__bg-color: #090f2f;
	--rscms__header-notice-bg-color: #00000f;
	--rscms__menu-bg-color: #0f2f6f;
	--rscms__submenu-bg-color: #0f3f7f;
	--rscms__graph-overlay-bg-color: #1d5d9d;
	--rscms__graph-bar-bg-color: #fa96c0;
	--rscms__graph-bar-hover-bg-color: #ffa6d0;
	--rscms__table-bg-color: #9dedcd;
	--rscms__table-odd-bg-color: #8dddbd;
	--rscms__form-bg-color: #090c1f;
	--rscms__input-bg-color: #bdffed;
	--rscms__modal-bg-color: #0c1f5f;
	--rscms__active-tab-bg-color: #060f3f;
	
	/* Border colors */
	
	--rscms__graph-border-color: #7dcdad;
	--rscms__graph-overlay-border-color: #5dbddd;
	--rscms__table-border-color: #6dbd9d;
	--rscms__form-border-color: #fdbd4d;
	--rscms__input-border-color: #5dad8d;
	--rscms__modal-border-color: var(--rscms__form-border-color);
	
	/* Text/link colors */
	
	--rscms__text-color: #fff;
	--rscms__link-color: #fa96c0;
	--rscms__secondary-link-color: #9a06b0;
	--rscms__submenu-hover-link-color: #26fa70;
	--rscms__table-color: #040a10;
}