/*!
 * Styles for the Harvest admin theme.
 * Primary colors are orange, brown, and yellow.
 * @since 1.0
 * @version 1.8
 *
 * @package ReallySimpleCMS
 * @subpackage Harvest
 */

:root {
	
	/* Background colors */
	
	--rscms__bg-color: #2f0f06;
	--rscms__header-notice-bg-color: #0f0400;
	--rscms__menu-bg-color: #8f4f0f;
	--rscms__menu-hover-bg-color: #2f0f06;
	--rscms__submenu-bg-color: #7f3f0f;
	--rscms__graph-overlay-bg-color: #8d3d1d;
	--rscms__graph-bar-bg-color: #fa8026;
	--rscms__graph-bar-hover-bg-color: #ff963d;
	--rscms__table-bg-color: #eddd8d;
	--rscms__table-odd-bg-color: #ddcd7d;
	--rscms__form-bg-color: #1f0903;
	--rscms__input-bg-color: #fffdad;
	--rscms__modal-bg-color: #6f2f0f;
	--rscms__active-tab-bg-color: #4f1f08;
	
	/* Border colors */
	
	--rscms__graph-border-color: #cdbd6d;
	--rscms__graph-overlay-border-color: #cd9d6d;
	--rscms__table-border-color: #bdad5d;
	--rscms__form-border-color: #dfbf2f;
	--rscms__input-border-color: #ad9d4d;
	--rscms__modal-border-color: var(--rscms__form-border-color);
	
	/* Text/link colors */
	
	--rscms__text-color: #fff;
	--rscms__link-color: #fa8026;
	--rscms__secondary-link-color: #ba4016;
	--rscms__submenu-hover-link-color: #f6ca30;
	--rscms__table-color: #100a04;
}