/*!
 * Admin dashboard Forest theme.
 * @since 2.0.7-alpha
 * @version 1.6
 *
 * @package ReallySimpleCMS
 */

:root {
	
	/* Background colors */
	
	--global--bg-color: #2f2f19;
	--global--header-notice-bg-color: #0f0f00;
	--global--menu-bg-color: #0f6f2f;
	--global--menu-hover-bg-color: #2f1f00;
	--global--submenu-bg-color: #0f7f3f;
	--global--graph-overlay-bg-color: #3d9d1d;
	--global--table-bg-color: #bded9d;
	--global--table-odd-bg-color: #addd8d;
	--global--form-bg-color: #091f0c;
	--global--input-bg-color: #ddffbd;
	--global--modal-bg-color: #0f4f1f;
	--global--active-tab-bg-color: #082f0f;
	
	/* Border colors */
	
	--global--graph-border-color: #9dcd7d;
	--global--table-border-color: #8dbd6d;
	--global--form-border-color: #6fdf2f;
	--global--input-border-color: #7dad5d;
	--global--modal-border-color: var(--global--form-border-color);
	
	/* Text/link colors */
	
	--global--text-color: #fff;
	--global--link-color: #c6fa60;
	--global--secondary-link-color: #369a20;
	--global--submenu-hover-link-color: #f6ca60;
	--global--table-color: #0a1004;
}

/*------------------------------------*\
    CONTENT
\*------------------------------------*/

/* Statistics graph */

.graph-content > li .bar {
	background-color: #c6fa60;
}

.graph-content > li .bar:hover {
	background-color: #ddff76;
}

.graph-overlay li {
	border-bottom-color: #9ddd6d;
}