/**
 * Admin dashboard Harvest theme.
 * @since 2.1.9-alpha
 * @version 1.7
 *
 * @package ReallySimpleCMS
 */

:root {
	
	/* Background colors */
	
	--global--bg-color: #2f0f06;
	--global--header-notice-bg-color: #0f0400;
	--global--menu-bg-color: #8f4f0f;
	--global--menu-hover-bg-color: #2f0f06;
	--global--submenu-bg-color: #7f3f0f;
	--global--graph-overlay-bg-color: #8d3d1d;
	--global--table-bg-color: #eddd8d;
	--global--table-odd-bg-color: #ddcd7d;
	--global--form-bg-color: #1f0903;
	--global--input-bg-color: #fffdad;
	--global--modal-bg-color: #6f2f0f;
	--global--active-tab-bg-color: #4f1f08;
	
	/* Border colors */
	
	--global--graph-border-color: #cdbd6d;
	--global--table-border-color: #bdad5d;
	--global--form-border-color: #dfbf2f;
	--global--input-border-color: #ad9d4d;
	--global--modal-border-color: var(--global--form-border-color);
	
	/* Text/link colors */
	
	--global--text-color: #fff;
	--global--link-color: #fa8026;
	--global--secondary-link-color: #ba4016;
	--global--submenu-hover-link-color: #f6ca30;
	--global--table-color: #100a04;
}

/*------------------------------------*\
    CONTENT
\*------------------------------------*/

/* Statistics graph */

.graph-content > li .bar {
	background-color: #fa8026;
}

.graph-content > li .bar:hover {
	background-color: #ff963d;
}

.graph-overlay li {
	border-bottom-color: #cd9d6d;
}