/**
 * Admin dashboard Ocean theme.
 * @since 2.0.7-alpha
 * @version 1.9
 *
 * @package ReallySimpleCMS
 */

:root {
	
	/* Background colors */
	
	--global--bg-color: #090f2f;
	--global--header-notice-bg-color: #00000f;
	--global--menu-bg-color: #0f2f6f;
	--global--submenu-bg-color: #0f3f7f;
	--global--graph-overlay-bg-color: #1d5d9d;
	--global--table-bg-color: #9dedcd;
	--global--table-odd-bg-color: #8dddbd;
	--global--form-bg-color: #090c1f;
	--global--input-bg-color: #bdffed;
	--global--modal-bg-color: #0c1f5f;
	--global--active-tab-bg-color: #060f3f;
	
	/* Border colors */
	
	--global--graph-border-color: #7dcdad;
	--global--table-border-color: #6dbd9d;
	--global--form-border-color: #fdbd4d;
	--global--input-border-color: #5dad8d;
	--global--modal-border-color: var(--global--form-border-color);
	
	/* Text/link colors */
	
	--global--text-color: #fff;
	--global--link-color: #fa96c0;
	--global--secondary-link-color: #9a06b0;
	--global--submenu-hover-link-color: #26fa70;
	--global--table-color: #040a10;
}

/*------------------------------------*\
    CONTENT
\*------------------------------------*/

/* Statistics graph */

.graph-content > li .bar {
	background-color: #fa96c0;
}

.graph-content > li .bar:hover {
	background-color: #ffa6d0;
}

.graph-overlay li {
	border-bottom-color: #5dbddd;
}