/*!
 * Styles for the Bedrock admin theme.
 * Primary colors are dark grey, light grey, and blue.
 * @since 1.0
 * @version 1.0
 *
 * @package ReallySimpleCMS
 * @subpackage Bedrock
 */

:root {
	
	/* Background colors */
	
	--rscms__bg-color: #2f2f2f;
	--rscms__header-notice-bg-color: #0f0f0f;
	--rscms__menu-bg-color: #4f4f4f;
	--rscms__submenu-bg-color: #5f5f5f;
	--rscms__graph-overlay-bg-color: #cdcdcd;
	--rscms__graph-bar-bg-color: #84c2fa;
	--rscms__graph-bar-hover-bg-color: #94d2ff;
	--rscms__table-bg-color: #ededed;
	--rscms__table-odd-bg-color: #ddd;
	--rscms__form-bg-color: #1f1f1f;
	--rscms__input-bg-color: #fdfdfd;
	--rscms__modal-bg-color: #3f3f3f;
	
	/* Border colors */
	
	--rscms__graph-border-color: #cdcdcd;
	--rscms__form-border-color: #7d7d7d;
	--rscms__input-border-color: #adadad;
	
	/* Text/link colors */
	
	--rscms__text-color: #fefefe;
	--rscms__link-color: #b6e0fa;
	--rscms__secondary-link-color: #46708a;
	--rscms__submenu-hover-link-color: #daa660;
	--rscms__table-color: #101010;
}