/*!
 * Styles for the admin dashboard.
 * @since 1.3.1-alpha
 *
 * @package ReallySimpleCMS
 */

/*------------------------------------*\
    CUSTOM PROPERTIES
\*------------------------------------*/

:root {
	
	/* Typography */
	
	--global--font: 'Segoe UI', Helvetica, sans-serif;
	
	/* Background colors */
	
	--global--bg-color: #2f2f2f;
	--global--header-notice-bg-color: #0f0f0f;
	--global--menu-bg-color: #4f4f4f;
	--global--menu-hover-bg-color: var(--global--bg-color);
	--global--submenu-bg-color: #5f5f5f;
	--global--submenu-hover-bg-color: var(--global--submenu-bg-color);
	--global--graph-overlay-bg-color: #cdcdcd;
	--global--table-bg-color: #ededed;
	--global--table-odd-bg-color: #ddd;
	--global--form-bg-color: #1f1f1f;
	--global--input-bg-color: #fdfdfd;
	--global--modal-bg-color: #3f3f3f;
	--global--modal-details-bg-color: var(--global--submenu-bg-color);
	--global--active-tab-bg-color: var(--global--bg-color);
	
	/* Border colors */
	
	--global--graph-border-color: #cdcdcd;
	--global--table-border-color: var(--global--graph-border-color);
	--global--table-separator-color: var(--global--submenu-bg-color);
	--global--form-border-color: #7d7d7d;
	--global--input-border-color: #adadad;
	--global--modal-border-color: var(--global--input-border-color);
	
	/* Text/link colors */
	
	--global--text-color: #fefefe;
	--global--link-color: #b6e0fa;
	--global--secondary-link-color: #46708a;
	--global--menu-link-color: var(--global--text-color);
	--global--active-menu-link-color: var(--global--link-color);
	--global--submenu-hover-link-color: #daa660;
	--global--table-color: #101010;
	--global--info-color: #07f;
	--global--success-color: #0d0;
	--global--failure-color: #f00;
	--global--warning-color: #fe0;
}

/*------------------------------------*\
    ANIMATIONS
\*------------------------------------*/



/*------------------------------------*\
    NORMALIZATION
\*------------------------------------*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	background-color: var(--global--bg-color);
	height: calc(100% - 30px);
	padding-top: 30px;
}

body {
	color: var(--global--text-color);
	font-family: var(--global--font);
	font-size: 100%;
	height: calc(100% - 30px);
	margin: 0;
	min-height: 100%;
}

a {
	color: var(--global--link-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1,
h2 {
	font-size: 1.3125em;
}

h3 {
	font-size: 1.125em;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* Header */

#admin-header {
	background-color: var(--global--menu-bg-color);
	box-shadow: 0 2px 3px rgba(0,0,0,0.5);
	height: 30px;
	position: fixed;
	  top: 0;
	  left: 0;
	  z-index: 999;
	-webkit-user-select: none;
	user-select: none;
	width: 100%;
}

/** Site title **/

#site-title {
	color: var(--global--text-color);
	display: flex;
	  align-items: center;
	float: left;
	font-size: 0.875em;
	height: 100%;
	padding: 0 0.5rem;
	text-decoration: none;
}

#site-title:hover {
	background-color: var(--global--menu-hover-bg-color);
	color: var(--global--active-menu-link-color);
}

#site-title i {
	margin-right: 0.375rem;
}

/** User dropdown menu **/

.user-dropdown {
	cursor: pointer;
	display: flex;
	  align-items: center;
	float: right;
	font-size: 0.875em;
	height: 100%;
	padding: 0 0.5rem;
}

.user-dropdown:hover {
	background-color: var(--global--menu-hover-bg-color);
	color: var(--global--active-menu-link-color);
}

.user-dropdown:hover .user-dropdown-menu {
	display: block;
}

.user-dropdown > span {
	line-height: 1.25rem;
}

.user-dropdown .avatar {
	border-radius: 50%;
	margin-left: 0.375rem;
	overflow: hidden;
	position: relative;
}

.user-dropdown .avatar::before {
	background-image: url('/resources/img/blank.png');
	background-size: 100%;
	content: '';
	height: 100%;
	position: absolute;
	width: 100%;
}

.user-dropdown-menu {
	background-color: var(--global--menu-hover-bg-color);
	box-shadow: -1px 2px 3px rgba(0,0,0,0.5);
	cursor: auto;
	display: none;
	list-style: none;
	margin: 0;
	padding: 0.5rem;
	position: absolute;
	  top: 30px;
	  right: 0;
	width: 250px;
}

.user-dropdown-menu .avatar-large {
	float: left;
	margin-right: 0.5rem;
	position: relative;
}

.user-dropdown-menu .avatar-large::before {
	background-image: url('/resources/img/blank.png');
	background-size: 100%;
	content: '';
	height: 100%;
	position: absolute;
	width: 100%;
}

.user-dropdown-menu li a {
	color: var(--global--text-color);
	display: block;
	line-height: 1.8;
}

.user-dropdown-menu li a:hover {
	color: var(--global--active-menu-link-color);
	text-decoration: none;
}

/* Navigation */

#admin-nav-wrap {
	background-color: var(--global--menu-bg-color);
	box-shadow: 2px 0 3px rgba(0,0,0,0.5);
	position: fixed;
	  top: 0;
	  bottom: 0;
	transition: width 0.25s;
	width: 2.25em;
}

#admin-nav-menu {
	background-color: var(--global--menu-bg-color);
	float: left;
	margin-bottom: 0.75em;
	position: relative;
	  z-index: 998;
	transition: width 0.25s;
	-webkit-user-select: none;
	user-select: none;
	width: 2.25em;
}

#admin-nav-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#admin-nav-menu .menu > li {
	position: relative;
}

#admin-nav-menu .menu > li:hover {
	background-color: var(--global--menu-hover-bg-color);
}

#admin-nav-menu .menu > li:hover .submenu {
	display: block;
}

#admin-nav-menu .menu > li.current-menu-item,
#admin-nav-menu .menu > li.child-is-current {
	background-color: var(--global--menu-hover-bg-color);
}

#admin-nav-menu .menu > li.current-menu-item > a,
#admin-nav-menu .menu > li.child-is-current > a {
	color: var(--global--active-menu-link-color);
	font-weight: 600;
}

#admin-nav-menu .menu > li > a {
	color: var(--global--menu-link-color);
	display: block;
	font-size: 0.9375em;
	text-decoration: none;
}

#admin-nav-menu .menu > li > a > i {
	display: inline-flex;
	  align-items: center;
	  justify-content: center;
	height: 2.25rem;
	width: 2.25rem;
}

#admin-nav-menu .menu > li > a > span {
	display: none;
}

#admin-nav-menu .submenu {
	background-color: var(--global--submenu-bg-color);
	box-shadow: 2px 0 3px rgba(0,0,0,0.5);
	display: none;
	min-width: 120px;
	position: absolute;
	  top: 0;
	  left: 2.25rem;
	white-space: nowrap;
}

#admin-nav-menu .submenu::before {
	border: 0.5em solid transparent;
	border-right-color: var(--global--submenu-bg-color);
	content: '';
	position: absolute;
	  top: 0.625em;
	  right: 100%;
}

#admin-nav-menu .submenu > li.current-submenu-item {
	background-color: var(--global--menu-hover-bg-color);
}

#admin-nav-menu .submenu > li.current-submenu-item > a {
	color: var(--global--active-menu-link-color);
	font-weight: 600;
}

#admin-nav-menu .submenu > li > a {
	color: var(--global--menu-link-color);
	display: block;
	font-size: 0.9375em;
	padding: 0.5rem 0.75rem;
	text-decoration: none;
}

#admin-nav-menu .submenu > li:not(.current-submenu-item):hover {
	background-color: var(--global--submenu-hover-bg-color);
}

#admin-nav-menu .submenu > li:not(.current-submenu-item):hover > a {
	color: var(--global--submenu-hover-link-color);
}

/* Footer */

#admin-footer {
	margin-left: 2.25em;
	padding: 0 1.375em 0.75em;
	text-align: center;
}

#admin-footer .copyright {
	font-size: 0.75em;
	padding: 0.25rem 0;
}

#admin-footer .version {
	font-size: 0.75em;
	padding: 0.25rem 0;
}

/*------------------------------------*\
    CONTENT
\*------------------------------------*/

.clear::before {
	content: '';
	display: table;
}

.clear::after {
	clear: both;
	content: '';
	display: table;
}

.hidden {
	display: none;
}

.header-notice {
	background-color: var(--global--header-notice-bg-color);
	color: var(--global--failure-color);
	display: block;
	margin-left: 2.25em;
	padding: 1em;
	text-align: center;
	width: calc(100% - 2.25em);
}

.header-notice a {
	color: var(--global--failure-color);
	text-decoration: underline;
}

.wrapper {
	margin-left: 2.25em;
	min-height: 100%;
	padding: 1em;
}

.content {
	float: left;
	width: 100%;
}

.content .loading {
	display: flex;
	  align-items: center;
	  justify-content: center;
	height: 50vh;
	width: 100%;
}

/* Headings */

.heading-wrap {
	margin-bottom: 0.625em;
	text-align: center;
}

.heading-wrap h1 {
	display: inline-block;
	margin: 0 0.375rem 0.75rem 0;
}

.heading-wrap hr {
	margin: 0;
	visibility: hidden;
}

.heading-wrap .button ~ #search-toggle {
	margin-left: 0.25rem;
}

.heading-wrap .search-form {
	display: inline-flex;
	position: relative;
	  z-index: -1;
}

.heading-wrap .search-form.is-visible {
	z-index: 0;
}

.heading-wrap .search-form #record-search {
	margin-right: 4px;
}

.heading-wrap .admin-info {
	float: right;
	position: relative;
}

.heading-wrap .admin-info span {
	background-color: var(--global--header-notice-bg-color);
	display: none;
	font-size: 0.875em;
	line-height: 1.4;
	padding: 0.75rem 0.875rem;
	text-align: right;
	width: 250px;
}

.heading-wrap .admin-info.open span {
	display: block;
	position: absolute;
	  top: 2.25rem;
	  right: -0.5rem;
	  z-index: 99;
}

.heading-wrap .admin-info.open span::before {
	border: 0.5em solid transparent;
    border-bottom-color: var(--global--header-notice-bg-color);
    content: '';
    position: absolute;
      top: -0.875rem;
      right: calc(0.5rem + 1px);
}

.heading-wrap .admin-info i {
	cursor: pointer;
	position: absolute;
	  top: 0.5rem;
	  right: 0;
}

.heading-wrap .status-nav {
	float: left;
	font-size: 0.9em;
	list-style: none;
	margin: 0.375rem 0;
	padding: 0;
}

.heading-wrap .status-nav li {
	display: inline-block;
}

.heading-wrap .status-nav li a .count {
	color: var(--global--text-color);
}

.heading-wrap .entry-count {
	float: right;
	font-size: 0.9em;
	line-height: 2rem;
}

.heading-wrap .status-message ~ .status-nav,
.heading-wrap .status-message ~ .entry-count {
	margin-top: -0.75em;
}

/* Notices */

.notice,
.status-message {
	background-color: #c7def8;
	color: #000;
	display: flex;
	font-weight: 200;
	margin: 1em 0;
	position: relative;
}

.notice span,
.status-message span {
	padding: 0.5em;
}

.notice a,
.status-message a {
	color: var(--global--secondary-link-color);
}

.notice.success,
.status-message.success {
	background-color: #e0f9af;
}

.notice.success .icon,
.status-message.success .icon {
	background-color: #2c0;
}

.notice.failure,
.status-message.failure {
	background-color: #f9d0c0;
}

.notice.failure .icon,
.status-message.failure .icon {
	background-color: var(--global--failure-color);
}

.notice.warning,
.status-message.warning {
	background-color: #fffccb;
}

.notice.warning .icon,
.status-message.warning .icon {
	background-color: var(--global--warning-color);
}

.notice .icon,
.status-message .icon {
	background-color: var(--global--info-color);
	display: inline-flex;
	  align-items: center;
}

.notice:not(.warning) .icon,
.status-message:not(.warning) .icon {
	color: #fff;
}

.notice .text,
.status-message .text {
	margin-right: 0.75em;
}

.notice .dismiss,
.status-message .dismiss {
	cursor: pointer;
	padding: 0.5em 0.75em;
	position: absolute;
	  top: 0;
	  right: 0;
}

/* Subheadings */

.subheading {
	margin-top: 2rem;
	margin-bottom: 0.75rem;
}

/* Statistics graph */

#stats-graph {
	background-color: var(--global--table-bg-color);
	box-shadow: 0 2px 4px #000;
	color: var(--global--table-color);
	font-size: 0;
	height: 376px;
	margin-top: 1rem;
	position: relative;
	-webkit-user-select: none;
	user-select: none;
	width: 100%;
}

#stats-graph ul {
	padding: 0;
}

.graph-content {
	background-color: var(--global--graph-overlay-bg-color);
	box-shadow: 1px -1px 4px rgba(0,0,0,0.5) inset;
	display: inline-block;
	height: 250px;
	position: relative;
	vertical-align: bottom;
	width: calc(100% - 76px);
}

.graph-content > li {
	display: inline-block;
	height: 100%;
	position: relative;
}

.graph-content > li .bar {
	background-color: #84c2fa;
	box-shadow: 2px -1px 2px rgba(0,0,0,0.5), 0 -2px 4px rgba(0,0,0,0.25) inset;
	height: 0;
	margin: 0 22.5%;
	position: absolute;
	  bottom: 0;
	  z-index: 99;
	transition: all 0.4s;
	width: 55%;
}

.graph-content > li .bar:hover {
	background-color: #94d2ff;
}

.graph-overlay {
	background-color: var(--global--graph-overlay-bg-color);
	box-shadow: 1px 2px 4px rgba(0,0,0,0.5) inset;
	height: 100%;
	position: absolute;
	  top: -50px;
	width: 100%;
}

.graph-overlay li {
	border-bottom: 1px dashed var(--global--input-border-color);
	height: 50px;
}

.graph-overlay li:last-child {
	border-bottom: none;
}

.graph-x {
	border-top: 1px solid var(--global--graph-border-color);
	padding-top: 0.125rem;
	margin-left: 76px;
}

.graph-x li {
	display: inline-block;
	text-align: center;
}

.graph-x .value {
	color: var(--global--secondary-link-color);
	font-size: 0.9rem;
}

.graph-x-label {
	font-size: 1.125rem;
	font-weight: 600;
	position: absolute;
	  right: calc(50% - 76px);
	  bottom: 0.625em;
}

.graph-y {
	border-right: 1px solid var(--global--graph-border-color);
	display: inline-block;
	height: 300px;
	vertical-align: top;
	width: 76px;
}

.graph-y li {
	height: 50px;
	position: relative;
}

.graph-y .value {
	font-size: 0.9rem;
	line-height: 1;
	position: absolute;
	  right: 0.375em;
	  bottom: -0.5em;
}

.graph-y-label {
	font-size: 1.125rem;
	font-weight: 600;
	position: absolute;
	  top: calc(50% - 76px);
	  left: -0.25em;
	-webkit-transform: rotate(-90deg) translateX(-50%);
	transform: rotate(-90deg) translateX(-50%);
}

/* Dashboard widgets */

.dashboard-widget {
	background-color: var(--global--table-bg-color);
	box-shadow: 0 2px 4px #000;
	color: var(--global--table-color);
	display: inline-block;
	float: left;
	margin-top: 1.5em;
	padding: 1em;
	width: 100%;
}

.dashboard-widget *:last-child {
	margin-bottom: 0;
}

.dashboard-widget h2 {
	font-size: 1.25em;
	margin-top: 0;
	text-align: center;
}

.dashboard-widget ul {
	list-style: none;
	padding: 0 1.25em;
}

.dashboard-widget ul li {
	font-size: 0.9375em;
	line-height: 1.5;
}

.dashboard-widget a {
	color: var(--global--secondary-link-color);
}

.dashboard-widget .value {
	float: right;
}

/* Data tables */

.data-table {
	background-color: var(--global--table-bg-color);
	border-collapse: collapse;
	box-shadow: 0 2px 4px #000;
	color: var(--global--table-color);
	width: 100%;
}

.data-table thead tr,
.data-table tbody tr {
	border-bottom: 1px solid var(--global--table-border-color);
}

.data-table tbody tr:nth-child(odd) {
	background-color: var(--global--table-odd-bg-color);
}

.data-table tbody tr:hover {
	background-color: var(--global--input-bg-color);
}

.data-table th,
.data-table td {
	padding: 0.5rem;
}

.data-table th:not(:last-child),
.data-table td:not(:last-child) {
	border-right: 1px solid var(--global--table-border-color);
}

.data-table td {
	font-size: 0.95em;
}

.data-table a {
	color: var(--global--secondary-link-color);
}

.data-table .checkbox {
	cursor: pointer;
}

.data-table .actions {
	font-size: 0.85em;
}

.data-table .col-bulk-select {
	text-align: center;
	width: 5%;
}

.media .data-table .col-thumbnail {
	text-align: center;
}

.media .data-table .col-thumbnail img {
	max-width: 100px;
	vertical-align: middle;
}

.comments .data-table th:nth-child(2) {
	width: 55%;
}

.comments .data-table .col-content {
	float: none;
	width: 55%;
}

.users .data-table .col-username strong {
	line-height: 1;
	vertical-align: top;
}

.users .data-table .col-username .avatar {
	float: left;
	margin-right: 0.5em;
	position: relative;
}

.users .data-table .col-username .avatar::before {
	background-image: url('/resources/img/blank.png');
	background-size: 100%;
	content: '';
	height: 100%;
	position: absolute;
	width: 100%;
}

.users .data-table .col-username .actions {
	line-height: 1;
}

.about .data-table th:not(.col-heading) {
	font-weight: 500;
	text-align: right;
	width: 50%;
}

.about .data-table td {
	width: 50%;
}

/** Bulk actions **/

.bulk-actions {
	float: left;
	margin-top: 1rem;
}

.bulk-actions select {
	font-family: var(--global-font);
	font-size: 0.875em;
	margin-right: 0.25rem;
	padding: 0.125rem;
}

.bulk-actions .button:not(:last-child) {
	margin-right: 0.25rem;
}

/** Pager **/

.pager {
	float: right;
	font-size: 0.9em;
	margin-top: 1rem;
}

.pager-nav {
	font-size: 1.2em;
	font-weight: 600;
	margin: 0 0.125em;
	padding: 0.125em 0.625em 0.375em;
}

/* Data forms */

.data-form-wrap {
	background-color: var(--global--form-bg-color);
	border: 1px solid var(--global--form-border-color);
	border-radius: 1.5em 0;
	box-shadow: 0 2px 4px #000;
	padding: 0.5em;
	position: relative;
}

.users .data-form-wrap,
.profile .data-form-wrap {
	text-align: center;
}

.data-form-wrap .item-list {
	background-color: var(--global--table-bg-color);
	color: var(--global--table-color);
	list-style: none;
	margin: 0;
	padding: 0.125em 0.75em;
}

.data-form-wrap .menu-item {
	background-color: var(--global--input-bg-color);
	box-shadow: 0 2px 3px rgba(0,0,0,0.5);
	margin: 0.75em 0;
	padding: 0.5em;
}

.data-form-wrap .menu-item.depth-0 {
	margin-left: 0;
}

.data-form-wrap .menu-item.depth-1 {
	margin-left: 1em;
}

.data-form-wrap .menu-item.depth-2 {
	margin-left: 2em;
}

.data-form-wrap .menu-item.depth-3 {
	margin-left: 3em;
}

.data-form-wrap .menu-item.invalid {
	background-color: #fdbdbd;
}

.data-form-wrap .menu-item .actions {
	margin-top: 0.5rem;
	font-size: 0.85em;
}

.data-form-wrap .menu-item .actions a:not(.button) {
	color: var(--global--secondary-link-color);
}

.data-form-wrap .menu-item .separator {
	border: 1px dashed var(--global--table-odd-bg-color);
}

.data-form-wrap .menu-item.invalid .separator {
	border-color: #9d9d9d;
}

.data-form-wrap .replace-media,
.data-form-wrap .reset-password {
	margin-top: 0.5rem;
}

.data-form {
	text-align: left;
}

.data-form * {
	font-family: var(--global--font);
	outline: none;
}

.data-form label {
	font-size: 0.875em;
	margin-right: 0.375em;
}

.data-form label .required {
	color: var(--global--failure-color);
}

.data-form img {
	max-width: 100%;
}

.data-form .text-input {
	background-color: var(--global--input-bg-color);
	border: 2px solid var(--global--input-border-color);
	font-size: 0.875em;
	max-width: 18rem;
	padding: 0.375rem;
	width: 100%;
}

.data-form .text-input.disabled,
.data-form .text-input[disabled] {
	background-color: var(--global--table-bg-color);
}

.data-form .text-input.disabled:hover,
.data-form .text-input[disabled]:hover {
	cursor: not-allowed;
}

.data-form .text-input.disabled::selection,
.data-form .text-input[disabled]::selection {
	background-color: transparent;
}

.data-form .select-input {
	background-color: var(--global--input-bg-color);
	border: 1px solid var(--global--input-border-color);
	max-width: 15rem;
	font-size: 0.875em;
	padding: 0.125rem;
}

.data-form .select-input:hover {
	border-color: var(--global--form-border-color);
}

.data-form .textarea-input {
	background-color: var(--global--input-bg-color);
	border: 2px solid var(--global--input-border-color);
	font-family: Consolas, monospace;
	font-size: 0.875em;
	padding: 0.375rem;
	resize: none;
	width: 100%;
}

.data-form .date-input {
	background-color: var(--global--input-bg-color);
	border: 1px solid var(--global--input-border-color);
	font-size: 0.875em;
	padding: 0.125rem;
}

.data-form .file-input {
	font-size: 0.875em;
	max-width: 18rem;
	padding: 0.375rem;
	width: 100%;
}

.data-form .color-input {
	background-color: rgba(255,255,255,0.25);
	border: 2px solid var(--global--input-border-color);
	cursor: pointer;
	height: 1.875rem;
	padding: 0.25rem;
	width: 4.75rem;
}

.data-form .color-input::-webkit-color-swatch-wrapper {
	padding: 0;
}

.data-form .color-input::-webkit-color-swatch {
	border: none;
	border-radius: 0.1875rem;
}

.data-form .checkbox-input {
	cursor: pointer;
	height: 1.125em;
	margin-right: 0.5em;
	vertical-align: bottom;
	width: 1.125em;
}

.data-form .checkbox-label {
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
}

.data-form .checkbox-label span {
	display: inline-block;
	font-size: 0.9375em;
	-webkit-transform: translateY(-0.125em);
	transform: translateY(-0.125em);
}

.data-form .checkbox-list {
	background-color: var(--global--input-bg-color);
	border: 1px solid var(--global--input-border-color);
	list-style: none;
	margin: 0;
	max-height: 200px;
	overflow-y: auto;
	padding: 0.125em;
}

.data-form .checkbox-list label span {
	color: var(--global--table-color);
}

.data-form #password-gen {
	margin-top: 0.5rem;
}

.data-form .image-wrap {
	display: none;
	max-width: 150px;
	position: relative;
}

.data-form .block .image-wrap {
	max-width: 100%;
}

.data-form .image-wrap.visible {
	display: block;
}

.data-form .image-wrap img[data-field="thumb"] {
	margin: 0.25rem 0;
	transition: opacity 0.25s ease-in;
}

.data-form .image-wrap img[data-field="thumb"].greyout {
	opacity: 0.55;
}

.data-form .block .image-wrap img[data-field="thumb"] {
	vertical-align: top;
}

.data-form .image-wrap .image-remove {
	background-color: var(--global--failure-color);
    border-radius: 50%;
	color: var(--global--text-color);
    cursor: pointer;
	display: flex;
	  align-items: center;
	  justify-content: center;
	height: 24px;
    position: absolute;
      top: -0.25em;
      right: -0.25em;
	width: 24px;
}

.data-form .thumb-wrap {
	max-width: 250px;
}

.data-form .block {
	background-color: var(--global--table-bg-color);
	color: var(--global--table-color);
}

.data-form .block h2 {
	border-bottom: 1px solid var(--global--table-border-color);
	font-size: 1em;
	margin: 0;
	padding: 0.375em 0.625em;
}

.data-form .block .row {
	padding: 0.375em 0.625em 0.5em;
}

.data-form .content {
	float: none;
	margin-bottom: 1.25em;
}

.menus .data-form .content {
	margin-bottom: 0;
}

.data-form .content #title-field,
.data-form .content #name-field {
	font-size: 1.25em;
	max-width: none;
	width: 100%;
}

.data-form .content .permalink {
	padding: 0.875em 0;
}

.data-form .content .permalink label {
	margin-right: 0;
}

.data-form .content .permalink #slug-field {
	margin: 0 0.125rem;
}

.data-form .content > #slug-field {
	margin: 0.875rem 0;
}

.data-form .content .button-input {
	margin-bottom: 0.75rem;
}

.data-form .sidebar .block {
	margin-bottom: 1.25em;
}

.data-form .sidebar .block a {
	color: var(--global--secondary-link-color);
	font-size: 0.875em;
}

.data-form .sidebar .block fieldset {
	border-color: var(--global--input-bg-color);
	margin: 0;
}

.data-form .sidebar .block fieldset:last-of-type {
	padding-top: 0;
}

.data-form .sidebar .block fieldset legend {
	font-size: 0.875em;
	font-weight: 500;
}

.data-form .sidebar .block fieldset .text-input {
	width: 100%;
}

.data-form .sidebar .select-input {
	max-width: 12rem;
}

.data-form .sidebar #date {
	font-size: 0.875em;
	font-weight: 600;
}

.data-form .sidebar #submit {
	background-color: var(--global--table-odd-bg-color);
	border-top: 1px solid var(--global--table-border-color);
	padding: 0.5em 0.625em;
	text-align: right;
}

.data-form .sidebar #submit a {
	float: left;
	line-height: 2rem;
}

.data-form .sidebar #terms-list {
	list-style: none;
	margin: 0;
	max-height: 200px;
	overflow-y: auto;
	padding: 0.125em;
}

.data-form .sidebar #terms-list label,
.data-form .checkbox-list label {
	margin-right: 0;
}

.data-form .metadata label {
	display: inline-block;
	font-style: italic;
	margin-right: 0;
	margin-bottom: 0.25em;
}

.data-form .metadata label span {
	font-style: normal;
}

.data-form .metadata .text-input {
	border: 1px solid var(--global--input-border-color);
	max-width: 20rem;
	width: 100%;
}

.data-form .metadata .textarea-input {
	border: 1px solid var(--global--input-border-color);
	font-family: var(--global--font);
	max-width: 40rem;
	width: 100%;
}

.data-form .metadata .text-input:hover,
.data-form .metadata .textarea-input:hover {
	border-color: var(--global--form-border-color);
}

/** Form tables **/

.form-table {
	width: 100%;
}

.form-table th {
	display: block;
	text-align: left;
}

.form-table td {
	display: block;
}

.form-table td:not([colspan="2"]) {
	padding: 0.5em 0;
}

.form-table td[colspan="2"] {
	text-align: center;
}

.form-table label {
	margin-right: 0;
}

.form-table .spacer {
	content: '';
	display: block;
	margin-top: 0.5rem;
}

.form-table .separator {
	border: 1px dashed var(--global--table-separator-color);
}

/** Required fields **/

.required.invalid:not(label) {
	border: 2px solid var(--global--failure-color);
}

.required.valid:not(label) {
	border: 2px solid var(--global--success-color);
}

.required.init:not(label) {
	border: 2px solid var(--global--input-border-color);
}

.file-input.required.init {
	border: none;
	padding-left: 0;
}

.checkbox-label.invalid {
	color: var(--global--failure-color);
}

.checkbox-label.valid {
	color: var(--global--success-color);
}

.checkbox-label.init {
	color: var(--global--text-color);
}

/* Data lists */

.data-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.data-list li {
	background-color: var(--global--table-bg-color);
	box-shadow: 0 2px 4px #000;
	color: var(--global--table-color);
	float: left;
	margin-bottom: 1.5em;
	overflow: hidden;
	position: relative;
	-webkit-user-select: none;
	user-select: none;
	width: 100%;
}

.data-list .theme-preview {
	background-color: var(--global--table-odd-bg-color);
	display: flex;
	  justify-content: center;
	height: calc(100vw / 2);
}

.data-list .theme-preview img {
	flex-shrink: 0;
	min-height: 100%;
	min-width: 100%;
}

.data-list .theme-preview span {
	display: flex;
	  align-items: center;
	  justify-content: center;
	font-weight: 700;
	height: calc(100% - 45px);
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

.data-list .theme-preview span.error {
	color: var(--global--failure-color);
}

.data-list .theme-name {
	background-color: var(--global--table-bg-color);
	border-top: 1px solid var(--global--table-border-color);
	font-size: 1em;
	font-weight: 600;
	line-height: 1.25rem;
	margin: 0;
	padding: 0.75rem;
	position: absolute;
	  bottom: 0;
	width: 100%;
}

.data-list .theme-name .actions {
	float: right;
	font-size: 0.8125rem;
}

.data-list .theme-name .actions a {
	color: var(--global--secondary-link-color);
}

/* Modal */

.modal-open {
	overflow: hidden;
}

.modal {
	background-color: rgba(0,0,0,0.65);
	display: none;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  z-index: 999;
}

.modal * {
	font-family: var(--global--font);
	outline: none;
}

.modal-wrap {
	background-color: var(--global--menu-bg-color);
	border-radius: 0.375em;
	box-shadow: 0 2px 4px #000;
	margin: auto;
	max-height: 600px;
    max-width: 1200px;
	position: fixed;
	  top: 2em;
	  right: 2em;
	  bottom: 2em;
	  left: 2em;
}

.fade .modal-wrap {
	-webkit-transform: translateY(-25%);
	transform: translateY(-25%);
	transition: -webkit-transform 0.3s ease-out, transform 0.3s ease-out;
}

.fade.in .modal-wrap {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.modal-header {
	border-bottom: 1px solid var(--global--modal-border-color);
}

#modal-delete .modal-header {
	padding: 0.75em 0.75em 0.5em;
}

#modal-upload .modal-header {
	padding: 0.75em 0.75em 0;
}

.modal-header .tabber {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	user-select: none;
}

.modal-header .tabber .tab {
	border: 1px solid var(--global--modal-border-color);
	border-bottom: none;
	border-radius: 0.25rem 0.25rem 0 0;
	display: inline-block;
}

.modal-header .tabber .tab:hover {
	background-color: var(--global--modal-bg-color);
}

.modal-header .tabber .tab.active {
	background-color: var(--global--active-tab-bg-color);
}

.modal-header .tabber .tab a {
	color: var(--global--text-color);
	display: block;
	padding: 0.375em 0.75em;
}

.modal-header .tabber .tab a:hover {
	text-decoration: none;
}

.modal-header .tabber .tab.active a {
	font-weight: 600;
}

.modal-header #modal-close {
	background-color: var(--global--failure-color);
	border: 1px solid #b00;
	border-radius: 0.1875rem;
	color: var(--global--text-color);
	cursor: pointer;
	float: right;
	line-height: 1;
	padding: 0.375em 0.5625em;
}

.modal-body {
	background-color: var(--global--modal-bg-color);
	overflow: auto;
	position: absolute;
	  top: 47px;
	  right: 0;
	  bottom: 57px;
	  left: 0;
}

.modal-body .delete-wrap {
	display: flex;
	  align-items: center;
	  flex-direction: column;
	  justify-content: center;
	height: 100%;
	width: 100%;
}

.modal-body .delete-wrap h2,
.modal-body .delete-wrap h3 {
	margin: 0.5rem 0;
}

.modal-body .tab {
	display: none;
}

.modal-body .tab.active {
	display: flex;
	  flex-wrap: wrap;
}

.modal-body .tab[data-tab="upload"] {
	align-items: center;
	justify-content: center;
	height: 100%;
	text-align: center;
	width: 100%;
}

.modal-body .upload-wrap {
	margin: 0 auto;
	max-width: 500px;
}

.modal-body .upload-wrap h2,
.modal-body .upload-wrap form {
	margin: 1rem 0;
}

.modal-body .upload-wrap p {
	font-size: 0.875em;
}

.modal-body .media-wrap {
	width: 100%;
}

.modal-body .media-item-wrap {
	float: left;
	padding: 0.875em;
	width: 50%;
}

.modal-body .media-item {
	box-shadow: -1px 2px 4px rgba(0,0,0,0.5);
	cursor: pointer;
	position: relative;
	-webkit-user-select: none;
	user-select: none;
}

.modal-body .media-item::before {
	content: '';
	display: block;
	padding-top: 100%;
}

.modal-body .media-item.selected {
	box-shadow: 0 0 5px 4px #39c;
	outline: 2px solid #39c;
}

.modal-body .media-item .thumb-wrap {
	background-color: #000;
	display: flex;
	  align-items: center;
	  justify-content: center;
	overflow: hidden;
	position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
}

.modal-body .media-item .thumb {
	max-height: 100%;
}

.modal-body .media-details {
	background-color: var(--global--modal-details-bg-color);
	padding: 0.75em 1em;
	width: 100%;
}

.modal-body .media-details h2 {
	font-size: 1em;
	margin-top: 0;
	text-transform: uppercase;
}

.modal-body .media-details .info {
	font-size: 0.875em;
}

.modal-body .media-details .info .thumb img {
	max-width: 150px;
}

.modal-body .media-details .info .title {
	font-weight: 700;
}

.modal-body .media-details .info .filepath a {
	cursor: alias;
}

.modal-footer {
	border-top: 1px solid var(--global--modal-border-color);
	padding: 0.75em;
	position: absolute;
	  right: 0;
	  bottom: 0;
	  left: 0;
	text-align: right;
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media screen and (max-width: 649px) {
	.heading-wrap #search-toggle {
		display: none;
	}
	
	#stats-graph {
		height: 21rem;
	}
	
	.graph-content {
		width: calc(100% - 2rem);
	}
	
	.graph-x {
		margin-left: 2rem;
	}
	
	.graph-y {
		width: 2rem;
	}
	
	.graph-x-label,
	.graph-y-label {
		display: none;
	}
	
	.data-table th:not(:first-child),
	.data-table td:not(:first-child) {
		display: none;
	}
	
	.data-table.has-bulk-select th:nth-child(2),
	.data-table.has-bulk-select td:nth-child(2),
	.media .data-table th:nth-child(2),
	.media .data-table td:nth-child(2) {
		display: table-cell;
	}
	
	.menus .data-form .select-input {
		width: 100%;
	}
	
	.data-form .date-input:last-of-type {
		margin-top: 0.25rem;
	}
	
	.data-form .content .permalink span {
		display: none;
	}
	
	.modal-body .delete-wrap {
		padding: 0 0.5em;
		text-align: center;
	}
	
	.modal-body .delete-wrap h2 {
		font-size: 1.125em;
	}
	
	.modal-body .delete-wrap h3 {
		font-size: 0.9375em;
	}
	
	.modal-body .tab.active {
		position: relative;
	}
	
	.modal-body .upload-wrap form .submit-input {
		margin-top: 0.75rem;
	}
	
	.modal-footer {
		text-align: center;
	}
}

@media screen and (max-width: 849px) {
	.modal-body .media-wrap {
		height: 16rem;
		overflow: auto;
	}
	
	.modal-body .media-details {
		border-top: 1px solid var(--global--modal-border-color);
		min-height: 12rem;
		position: absolute;
		  top: 16rem;
	}
}

@media screen and (min-width: 450px) {
	.data-list .theme-preview {
		height: calc(100vw / 1.5);
	}
	
	.modal-body .media-item-wrap {
		width: 33.333%;
	}
}

@media screen and (min-width: 650px) {
	#admin-footer {
		text-align: left;
	}
	
	#admin-footer .copyright {
		border-top: none;
		float: left;
		font-size: 0.8125em;
		padding: 0;
	}

	#admin-footer .version {
		border-top: none;
		border-bottom: none;
		float: right;
		font-size: 0.8125em;
		padding: 0;
	}
	
	.wrapper {
		padding: 1em 1.375em;
	}
	
	.heading-wrap {
		text-align: left;
	}
	
	.heading-wrap h1 {
		margin: 0 0.625rem 0 0;
	}
	
	.heading-wrap .button,
	.heading-wrap .search-form {
		vertical-align: top;
	}
	
	.heading-wrap .search-form {
		opacity: 0;
		transform: translateX(-10%);
		transition: all 0.3s ease-in-out;
	}

	.heading-wrap .search-form.is-visible {
		opacity: 1;
		transform: translateX(0%);
	}
	
	.heading-wrap .entry-count {
		line-height: normal;
		margin: 0.375rem 0;
	}
	
	.dashboard-widget {
		width: 48%;
	}
	
	.dashboard-widget:nth-child(2n+1) {
		margin-right: 4%;
	}
	
	.bulk-actions {
		margin-top: 0.75rem;
	}
	
	.pager {
		font-size: 1em;
		margin-top: 0.75rem;
	}
	
	.pager-nav {
		padding: 0.125em 0.5em 0.25em;
	}
	
	.data-form-wrap {
		padding: 1em;
	}
	
	.data-form-wrap .menu-item .actions {
		float: right;
		margin-top: 0;
	}
	
	.data-form-wrap .replace-media,
	.data-form-wrap .reset-password {
		margin-top: 0;
		position: absolute;
		  right: 1.1875rem;
		  bottom: 1.1875rem;
	}
	
	.data-form #password-gen {
		margin-top: 0;
		margin-left: 0.375rem;
	}
	
	.form-table td[colspan="2"] {
		text-align: left;
	}
	
	.data-list li {
		width: 48%;
	}
	
	.data-list .theme-preview {
		height: calc((100vh / 5) + (100vw / 5));
	}
	
	.data-list li:nth-child(2n+1) {
		margin-right: 4%;
	}
	
	.modal-body .media-item-wrap {
		width: 25%;
	}
}

@media screen and (min-width: 850px) {
	.data-form-wrap .item-list-wrap,
	.data-form .content,
	.data-form .metadata {
		float: left;
		width: calc(100% - 300px);
	}
	
	.data-form .sidebar {
		float: right;
		width: 280px;
	}
	
	.form-table th {
		display: table-cell;
		width: 8em;
	}
	
	.form-table td {
		display: table-cell;
	}
	
	.modal-body .media-wrap {
		overflow: auto;
		position: absolute;
		  top: 0;
		  right: 0;
		  bottom: 0;
		  left: 0;
		width: 75%;
	}
	
	.modal-body .media-item-wrap {
		float: left;
		padding: 0.625em;
		width: 20%;
	}
	
	.modal-body .media-details {
		border-left: 1px solid var(--global--modal-border-color);
		overflow: auto;
		position: absolute;
		  top: 0;
		  right: 0;
		  bottom: 0;
		width: 25%;
	}
}

@media screen and (min-width: 1050px) {
	h1 {
		font-size: 1.5em;
	}
	
	#admin-nav-wrap,
	#admin-nav-menu {
		width: 10em;
	}
	
	#admin-nav-menu .menu > li.current-menu-item .submenu,
	#admin-nav-menu .menu > li.child-is-current .submenu {
		background-color: var(--global--submenu-bg-color);
		box-shadow: none;
		display: block;
		position: static;
		white-space: normal;
	}

	#admin-nav-menu .menu > li.current-menu-item .submenu > li > a,
	#admin-nav-menu .menu > li.child-is-current .submenu > li > a {
		padding: 0.5rem 0 0.5rem 1.5rem;
	}
	
	#admin-nav-menu .menu > li > a > span {
		display: initial;
	}
	
	#admin-nav-menu .submenu {
		left: 10em;
	}
	
	#admin-footer {
		margin-left: 10em;
		padding: 0 1.875em 0.75em;
	}
	
	.header-notice {
		margin-left: 10em;
		width: calc(100% - 10em);
	}
	
	.wrapper {
		margin-left: 10em;
		padding: 1.25em 1.875em;
	}
	
	.heading-wrap h1 {
		margin: 0 0.625rem 0 -0.625rem;
	}
	
	.heading-wrap .admin-info i {
		position: static;
	}
	
	.form-table th {
		width: 10em;
	}
	
	.data-list .theme-preview span {
		font-size: 1.25em;
	}
}

@media screen and (min-width: 1250px) {
	.dashboard-widget {
		width: 32%;
	}
	
	.dashboard-widget:nth-child(2n+1) {
		margin-right: 0;
	}
	
	.dashboard-widget:not(:nth-child(3n)) {
		margin-right: 2%;
	}
	
	.data-list li {
		margin-bottom: 2.5em;
	}
	
	.modal-body .media-item-wrap {
		width: 16.667%;
	}
}

@media screen and (min-width: 1350px) {
	.data-list li {
		width: 32%;
	}
	
	.data-list li:nth-child(2n+1) {
		margin-right: 0;
	}
	
	.data-list li:not(:nth-child(3n)) {
		margin-right: 2%;
	}
	
	.modal-body .media-details .info .thumb {
		float: left;
		margin-right: 0.625rem;
	}
}

@media screen and (min-width: 1650px) {
	.modal-body .media-item-wrap {
		width: 14.286%;
	}
}