/*!
 * Styles for the Sunset admin theme.
 * Primary colors are purple, pink, and orange.
 * @since 1.0
 * @version 1.9
 *
 * @package ReallySimpleCMS
 * @subpackage Sunset
 */

:root {
	
	/* Background colors */
	
	--rscms__bg-color: #2f001f;
	--rscms__header-notice-bg-color: #0f0000;
	--rscms__menu-bg-color: #8f3f6f;
	--rscms__menu-hover-bg-color: #0f062f;
	--rscms__submenu-bg-color: #bf1f4f;
	--rscms__graph-overlay-bg-color: #ad5d8d;
	--rscms__graph-bar-bg-color: #fa7016;
	--rscms__graph-bar-hover-bg-color: #ff8026;
	--rscms__table-bg-color: #fdaddd;
	--rscms__table-odd-bg-color: #ed9dcd;
	--rscms__form-bg-color: #1a001f;
	--rscms__input-bg-color: #ffcdfd;
	--rscms__modal-bg-color: #6f1f4f;
	--rscms__modal-details-bg-color: #7f2f5f;
	--rscms__active-tab-bg-color: #3f0f2f;
	
	/* Border colors */
	
	--rscms__graph-border-color: #dd8dbd;
	--rscms__graph-overlay-border-color: #dd8dad;
	--rscms__table-border-color: #cd7dad;
	--rscms__table-separator-color: #5f3f7f;
	--rscms__form-border-color: #fd4d5d;
	--rscms__input-border-color: #bd6d9d;
	--rscms__modal-border-color: var(--rscms__form-border-color);
	
	/* Text/link colors */
	
	--rscms__text-color: #fff;
	--rscms__link-color: #fa7016;
	--rscms__secondary-link-color: #ca4006;
	--rscms__active-menu-link-color: #e0b6fa;
	--rscms__submenu-hover-link-color: #fac016;
	--rscms__table-color: #10040a;
}