/*!
 * Stylesheet for the Carbon theme.
 * @since 2.2.2-alpha
 *
 * @package ReallySimpleCMS
 * @subpackage Carbon
 */

h1 {
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 1.5rem;
}

a {
	color: #46708a;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* Header */

.header {
	background-color: rgba(254,254,254,0.9375);
	position: fixed;
	  top: 0;
	  z-index: 9998;
	-webkit-user-select: none;
	user-select: none;
	width: 100%;
}

.header.sticky {
	box-shadow: 0 2px 3px rgba(0,0,0,0.5);
}

.logged-in .header {
	top: 1.875em;
}

.header .top-bar {
	background-color: #fefefe;
	height: 3.75em;
	padding: 0.5em 1em;
	position: relative;
	  z-index: 9999;
}

/** Logo **/

.header .site-logo {
	display: flex;
	  align-items: center;
	float: left;
	height: 100%;
}

.header .site-logo a,
.header .site-logo a img {
	height: 100%;
}

/** Social media & menu **/

.header .social-menu-wrap {
	display: flex;
	  align-items: flex-end;
	  flex-direction: column;
	  justify-content: center;
	float: right;
	height: 100%;
}

.header .widget.social-media {
	opacity: 0;
	position: absolute;
	  top: 175%;
	  left: -100%;
	transition: opacity 0.5s, top 0.5s;
}

.header .widget.social-media.visible {
	opacity: 1;
	top: 125%;
	right: calc(80% + 0.75em);
	left: auto;
}

.header .widget.social-media a {
	background-color: #fefefe;
	border-radius: 50%;
	color: #bdbdbd;
	display: flex;
	  align-items: center;
	  justify-content: center;
	height: 2.5em;
	margin-bottom: 0.75em;
	text-decoration: none;
	width: 2.5em;
}

.header .widget.social-media a:hover {
	color: #8d8d8d;
}

/*** Menu ***/

.header .nav-menu-toggle {
	cursor: pointer;
	display: flex;
	  align-items: center;
	  justify-content: center;
	height: 100%;
	margin-right: -1em;
	width: 2.75em;
}

.header .nav-menu-toggle i {
	color: #101010;
	font-size: 1.125em;
	-webkit-transform: translateY(-1px);
	transform: translateY(-1px);
}

.header .nav-menu-wrap {
	background-color: #3f3f3f;
	height: 100%;
	max-width: 320px;
	position: fixed;
	  top: 3.75em;
	  right: -100%;
	  z-index: 999;
	transition: all 0.3s ease, background-color 0s;
	width: 80%;
}

.logged-in .header .nav-menu-wrap {
	top: 5.625em;
}

.header .nav-menu-wrap.open {
	right: 0;
}

.header .nav-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.header .nav-menu ul li {
	position: relative;
}

.header .nav-menu ul li a {
	color: #fefefe;
	display: block;
	font-size: 0.9375em;
	font-weight: 600;
	padding: 0.75em 0.75em 0.625em;
	text-decoration: none;
	text-transform: uppercase;
}

.header .nav-menu > ul > li {
    border-top: 1px solid rgba(254,254,254,0.05);
    border-bottom: 1px solid rgba(254,254,254,0.05);
}

.header .nav-menu ul > li:hover > a {
    background-color: #5f5f5f;
}

.header .nav-menu .menu-item-has-children .submenu-toggle {
    color: #fefefe;
	cursor: pointer;
    position: absolute;
      top: 0.75em;
      right: 0;
    width: 1.75em;
}

.header .nav-menu .sub-menu {
    display: none;
    padding-left: 1em;
}

.header .nav-menu-overlay {
	background-color: rgba(0,0,0,0.9375);
	opacity: 0;
	position: static;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  z-index: -1;
	transition: all 0.3s ease;
}

.header .nav-menu-overlay.open {
	opacity: 1;
	position: fixed;
	  z-index: 998;
}

/* Main content */

main.content {
	margin-top: 3.75em;
}

.logged-in main.content {
	margin-top: 5.625em;
}

/* Footer */

.footer {
	background-color: #3f3f3f;
	color: #fefefe;
	padding: 1em;
}

.footer a {
	color: #b6e0fa;
}

.footer .row:last-child {
	margin-top: 1.5em;
}

.footer [class^="col-"] {
	padding: 0 1em;
}

.footer .col-4 {
	text-align: center;
}

.footer .col-4:nth-child(2) {
	display: flex;
	  justify-content: center;
}

.footer .nav-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer .nav-menu ul li {
	border-bottom: 1px solid #4f4f4f;
	padding: 1em;
}

.footer .nav-menu ul li:hover {
	background-color: #2f2f2f;
}

.footer .nav-menu ul li a:hover {
	text-decoration: none;
}

.footer .recent-posts ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

.footer .recent-posts ul li {
	margin-bottom: 1em;
}

.footer .recent-posts .feat-image {
	float: left;
	margin-right: 0.625em;
}

.footer .recent-posts h4 {
	margin: 0;
}

.footer .recent-posts .date {
	font-size: 0.875em;
	font-style: italic;
	margin: 0;
}

.footer .widget.copyright {
	font-size: 0.875em;
	text-align: center
}

.footer .widget.social-media {
	text-align: center;
}

.footer .widget.social-media a {
	background-color: #5f5f5f;
	border-radius: 50%;
	color: #bdbdbd;
	display: inline-flex;
	  align-items: center;
	  justify-content: center;
	height: 2.25em;
	margin-bottom: 0;
	text-decoration: none;
	width: 2.25em;
}

.footer .widget.social-media a:hover {
	color: #ededed;
}

/*------------------------------------*\
    CONTENT
\*------------------------------------*/

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
}

.featured-image {
	max-width: 100%;
}

.article-content {
	padding: 1em;
}

/* Single posts */

.article-content .post-title {
	margin-bottom: 0;
}

.article-content .post-meta {
	font-size: 0.875em;
}

.article-content .post-meta .author {
	margin-right: 0.75rem;
}

.article-content .post-categories {
	font-size: 0.875em;
}

.comments {
	background-color: #efefef;
	margin: 0 1em 2em;
	padding: 1em 1.5em;
}

.comments h2 {
	margin-top: 0;
}

.comments #reply-to {
	font-size: 0.875em;
	font-style: italic;
	margin-bottom: 0.5rem;
}

.comments .textarea-wrap {
	display: inline-block;
	max-width: 100%;
	position: relative;
}

.comments .textarea-input {
	font-family: Consolas, monospace;
	font-size: 0.875em;
	max-width: 100%;
	padding: 0.375rem;
	resize: none;
}

.comments .comments-wrap {
	text-align: center;
}

.comments .button {
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 0.875em;
	padding: 0.5rem 0.875rem;
	text-decoration: none;
	transition: background-color 0.25s;
	-webkit-user-select: none;
	user-select: none;
}

.comments .button[disabled] {
	cursor: not-allowed;
}

.comments .button:focus {
	outline: none;
}

.comments .button:hover {
	background-color: #9f9f9f;
}

.comments .submit-comment.button,
.comments .update-comment.button {
	background-color: #6f6f6f;
	border-radius: 0.1875rem 0 0.1875rem 0;
	position: absolute;
	  right: 0;
	  bottom: 0.25rem;
}

.comments .cancel.button {
	background-color: #c00;
	border-radius: 0 0.1875rem 0 0.1875rem;
	position: absolute;
	  bottom: 0.25rem;
	  left: 0;
}

.comments .cancel.button:hover {
	background-color: #f00;
}

.comments .load.button {
	background-color: #2ac;
	border-radius: 0.1875rem;
	margin-top: 0.75rem;
}

.comments .load.button:hover {
	background-color: #4af;
}

.comments .comment {
	text-align: left;
}

.comments .comment:not(:last-child) {
	border-bottom: 1px solid #cfcfcf;
	padding-bottom: 0.5em;
}

.comments .comment .author {
	font-weight: 700;
}

.comments .comment .created {
	font-size: 0.875em;
}

.comments .comment .replyto {
	font-size: 0.875em;
	font-style: italic;
	margin-left: 0.75rem;
}

.comments .comment .actions {
	font-size: 0.875em;
}

.comments .comment .actions i {
	display: inline-block;
}

.comments .comment .actions i:active {
	animation: bounce 0.5s;
}

.comments .comment .actions .upvote i,
.comments .comment .actions .downvote i {
	color: #6f6f6f;
}

.comments .comment .actions .upvote i:hover,
.comments .comment .actions .upvote .active i {
	color: #2c0;
}

.comments .comment .actions .downvote i:hover,
.comments .comment .actions .downvote .active i {
	color: #f00;
}

/* Archive pages */

.article-content .recent-posts {
	padding: 1.5em 0;
}

.article-content .recent-posts ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.article-content .recent-posts ul li {
	float: left;
	margin-bottom: 1em;
	width: 100%;
}

.article-content .recent-posts .feat-image {
	float: left;
	margin-right: 0.625em;
}

.article-content .recent-posts h4 {
	margin: 0;
}

.article-content .recent-posts .date {
	font-size: 0.875em;
	font-style: italic;
	margin: 0;
}

.sidebar {
	
}

#admin-bar {
	box-shadow: none;
}

/*------------------------------------*\
    ANIMATIONS
\*------------------------------------*/

@keyframes bounce {
	0% { transform: translateY(0); }
	50% { transform: translateY(-0.5rem); }
	/* 50% { transform: translateY(0); }
	75% { transform: translateY(0.125rem); } */
	100% { transform: translateY(0); }
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media screen and (min-width: 400px) {
	.header .widget.social-media.visible {
		right: calc(320px + 0.75em);
	}
}

@media screen and (min-width: 850px) {
	h1 {
		font-size: 2em;
		margin-top: 1rem;
	}
	
	.footer .col-4:first-child {
		text-align: left;
	}
	
	.article-content .recent-posts ul li {
		padding: 0 1em;
		width: 33.33%;
	}
}

@media screen and (min-width: 1050px) {
	.header {
		transition: top 0.3s;
	}
	
	.header.sticky {
		top: -3.5em;
	}
	
	.logged-in .header.sticky {
		top: calc(1.875em + -3.5em);
	}
	
	.header .top-bar {
		height: 7em;
		padding: 1em;
	}
	
	.header.sticky .site-logo {
		align-items: flex-end;
	}
	
	.header .site-logo a {
		height: 85%;
	}
	
	.header.sticky .site-logo a {
		height: 2.25em;
		margin-bottom: -0.375rem;
	}
	
	.header .widget.social-media {
        opacity: 1;
        position: static;
    }

    .header .widget.social-media a {
		background-color: #f6f6f6;
		color: #adadad;
    	display: inline-flex;
		height: 2.25em;
        margin-bottom: 0;
		width: 2.25em;
    }
	
	.header .widget.social-media a:hover {
		color: #7d7d7d;
	}
	
	.header .nav-menu-toggle {
        display: none;
    }
	
    .header .nav-menu-wrap {
        background-color: transparent;
		height: auto;
        max-width: none;
        position: static;
        width: 100%;
    }
	
    .header .nav-menu ul li {
        line-height: 1;
    }
	
    .header .nav-menu ul li a {
        color: #101010;
        font-size: 1em;
        letter-spacing: 1px;
		padding: 0;
    }
	
	.header .nav-menu ul > li:hover > a {
    	background-color: transparent;
    }
	
    .header .nav-menu > ul li:hover > .sub-menu {
        display: block;
    }
	
    .header .nav-menu > ul > li {
        border-top: none;
        border-bottom: none;
        display: inline-block;
    }
	
    .header .nav-menu > ul > li:not(:last-child)::after {
    	color: #cdcdcd;
    	content: ' |';
    	font-weight: 400;
    	vertical-align: text-top;
    }
	
	.header .nav-menu > ul > li.menu-item-has-children:last-child > .sub-menu {
		right: -1em;
	}
	
	.header .nav-menu > ul > li > a {
		display: inline-block;
		margin: 1.375em 1em 0;
	}
	
	.header .nav-menu > ul > li > a::after {
		border-bottom: 2px solid #101010;
		content: '';
		display: block;
		padding-top: 0.25em;
		transition: width 0.3s;
		width: 0;
	}
	
	.header .nav-menu > ul > li > a:hover::after {
		width: 100%;
	}
	
	.header .nav-menu > ul > li:last-child > a {
		margin-right: 0;
	}
	
    .header .nav-menu .sub-menu {
        background-color: #fefefe;
        box-shadow: 0 5px 3px -3px rgba(0,0,0,0.5);
        display: none;
        min-width: 100%;
		padding-top: 1em;
        padding-left: 0;
        position: absolute;
          z-index: 9999;
        text-align: left;
        white-space: nowrap;
    }
	
    .header .nav-menu .sub-menu li a {
		padding: 1em;
        width: 100%;
    }
	
	.header .nav-menu .sub-menu li a:hover {
		background-color: #eee;
	}
	
	.header .nav-menu .sub-menu .sub-menu {
		padding-top: 0;
		top: 0;
		right: 100%;
	}
	
	main.content {
		margin-top: 7em;
	}
	
	.logged-in main.content {
		margin-top: 8.875em;
	}
}